.footer {
    margin: 0 auto;
    margin-left: 16%;
    background-color: orange;
    width: 65%;
    height: 20px;
    height: 2vw;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    font-weight: 700;
}