
nav {
    width: 15%;
    height: 99%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
}


nav button{
    display: inline-block;
    width: 90%;
    border-radius: 10%;
    margin-top: 5px;
}

nav button :hover{
    filter: brightness(40%);
}

.profile{
    text-decoration: none;
    color: black;
}